.shortcut-content {

    // 背景
    .bg {
        display: flex;
        justify-content: space-between;
        height: 31px;

        // 通用
        #fl,
        #fr {
            display: flex;
            flex-flow: row wrap;
            line-height: 30px;

            div {
                padding: 0 4px;

                a:hover {
                    color: #f30213;
                }
            }

            // 预先添加border防止点击的时候会动
            .drop-down-bg {
                position: relative;
                border: 1px solid transparent;
            }

            .drop-down {
                position: relative;
            }

            // 下拉的样式
            .drop-down:hover>.drop-down-bg {
                height: 30px;
                background-color: #fff;
                border: 1px solid rgb(221, 221, 221);
                z-index: 10;
                border-bottom: none;
            }

            // 鼠标在drop-down上显示隐藏的下拉框
            .drop-down:hover>.location {
                display: block;
            }

            // 下拉的通用
            .drop {
                background-color: #fff;
                position: absolute;
                border: 1px solid rgb(221, 221, 221);
                display: none;
                left: 4px;
                z-index: 9;
                top: 29px;
            }
        }

        #fl .drop-down:hover>.drop-down-bg {
            width: 60px;
        }

        //下拉框内样式 
        #fl .location {
            width: 315px;
            height: 465px;

            #place {
                display: flex;
                flex-flow: row wrap;
                text-align: center;
                width: 300px;

                li {
                    padding: 2px 0;
                    width: 60px;

                    a:hover:not(.active) {
                        padding: 5px;
                        background-color: rgb(244, 244, 244);
                    }

                    .active {
                        padding: 5px;
                        color: #fff;
                        background-color: #f30213;
                    }
                }
            }

            // 下划线
            .underline {
                width: 280px;
                margin-left: 15px;
                border-bottom: 1px solid rgb(221, 221, 221);
            }

            .exclusive {
                margin-left: 20px;
                margin-top: 10px;

                a:nth-child(3) {
                    margin-left: 100px;
                }
            }

        }

        // 右边不同的
        #fr {

            .drop-down:hover>.myjd,
            .drop-down:hover>.qycg,
            .drop-down:hover>.khfw,
            .drop-down:hover>.wzdh,
            .drop-down:hover>.sjjd {
                display: block;
            }

            .myjd {
                width: 285px;
                height: 145px;
            }

            .qycg {
                width: 158px;
                height: 140px;
            }

            .khfw {
                width: 158px;
                height: 140px;
            }

            .wzdh {
                width: 158px;
                height: 140px;
            }


            .sjjd {
                width: 158px;
                height: 140px;
            }
        }

    }

}

.search-bar-content {
    margin: 0 auto;

    div {
        float: left;
    }

    #logo {
        padding: 20px 0;
    }

    #classification {
        margin: 35px;
        border: 1px solid #999;
        width: 75px;
        height: 23px;
        text-align: center;
        line-height: 23px;

        a {
            color: #666;
            padding-right: 4px;

            font-size: 12px;
        }

        i {
            color: #999;
            transition: all 0.3s;
        }

    }

    #classification:hover i {
        transform: rotate(180deg);
    }

    #search {
        padding-left: 80px;
        height: 36px;
        margin-top: 25px;
        font-size: 0;

        input {
            height: 35px;
            padding: 0 8px;
            border: none;
        }

        input:first-child {
            height: 23px;
            width: 446px;
            padding: 4px;
            border: 2px solid rgb(182, 29, 29);
            border-right: none;
        }

        input:nth-child(2) {
            background-color: rgb(182, 29, 29);
            vertical-align: bottom;
            color: #fff;
            // 小手
            cursor: pointer;
        }

        input:nth-child(3) {
            background-color: rgb(71, 78, 92);
            vertical-align: bottom;
            color: #fff;
            cursor: pointer;
        }
    }

    #my-car {
        margin: 25px;
        margin-left: 65px;
        height: 34px;
        padding-left: 25px;
        padding-right: 10px;
        border: 1px solid rgb(223, 223, 223);
        line-height: 34px;

        a {
            padding-left: 5px;
            padding-right: 15px;
            color: #666;
        }

        a:hover {
            color: #f30213;
        }

        i:nth-child(1) {
            color: rgb(200, 23, 36);
        }

        i {
            color: #999;
        }



    }
}