.shortcut-content .bg {
  display: flex;
  justify-content: space-between;
  height: 31px;
}
.shortcut-content .bg #fl,
.shortcut-content .bg #fr {
  display: flex;
  flex-flow: row wrap;
  line-height: 30px;
}
.shortcut-content .bg #fl div,
.shortcut-content .bg #fr div,
.shortcut-content .bg #fl li,
.shortcut-content .bg #fr li {
  padding-left: 8px;
}
.shortcut-content .bg #fl div a:hover,
.shortcut-content .bg #fr div a:hover,
.shortcut-content .bg #fl li a:hover,
.shortcut-content .bg #fr li a:hover {
  color: #f30213;
}
.shortcut-content .bg #fl .drop-down-bg,
.shortcut-content .bg #fr .drop-down-bg {
  border: 1px solid transparent;
}
.shortcut-content .bg #fl .drop-down:hover > .drop-down-bg,
.shortcut-content .bg #fr .drop-down:hover > .drop-down-bg {
  position: relative;
  width: 66px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #dddddd;
  z-index: 10;
  border-bottom: none;
}
.shortcut-content .bg #fl .drop-down:hover > .location,
.shortcut-content .bg #fr .drop-down:hover > .location {
  display: block;
}
.shortcut-content .bg #fl .drop,
.shortcut-content .bg #fr .drop {
  background-color: #fff;
  position: absolute;
  border: 1px solid #dddddd;
  display: none;
  z-index: 9;
}
.shortcut-content .bg #fl .location {
  width: 315px;
  height: 465px;
  left: 435px;
  top: 29px;
}
.shortcut-content .bg #fl .location #place {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 300px;
}
.shortcut-content .bg #fl .location #place li {
  padding: 2px 0;
  width: 60px;
}
.shortcut-content .bg #fl .location #place li a:hover:not(.active) {
  padding: 5px;
  background-color: #f4f4f4;
}
.shortcut-content .bg #fl .location #place li .active {
  padding: 5px;
  color: #fff;
  background-color: #f30213;
}
.shortcut-content .bg #fl .location .underline {
  width: 280px;
  margin-left: 15px;
  border-bottom: 1px solid #dddddd;
}
.shortcut-content .bg #fl .location .exclusive {
  margin-left: 20px;
  margin-top: 10px;
}
.shortcut-content .bg #fl .location .exclusive a:nth-child(3) {
  margin-left: 100px;
}
.shortcut-content .bg #fr .myjd {
  width: 285px;
  height: 145px;
  left: 985px;
  z-index: 9;
  top: 29px;
}
.shortcut-content .bg #fr .drop-down:hover > .myjd {
  display: block;
}
.shortcut-content .bg #fr .qycg {
  width: 158px;
  height: 140px;
  left: 1145px;
  z-index: 9;
  top: 29px;
}
.shortcut-content .bg #fr .drop-down:hover > .qycg {
  display: block;
}
.shortcut-content .bg #fr .khfw {
  width: 158px;
  height: 140px;
  left: 1145px;
  z-index: 9;
  top: 29px;
}
.shortcut-content .bg #fr .drop-down:hover > .khfw {
  display: block;
}
.shortcut-content .bg #fr .wzdh {
  width: 158px;
  height: 140px;
  left: 1245px;
  z-index: 9;
  top: 29px;
}
.shortcut-content .bg #fr .drop-down:hover > .wzdh {
  display: block;
}
.shortcut-content .bg #fr .sjjd {
  width: 158px;
  height: 140px;
  left: 1325px;
  z-index: 9;
  top: 29px;
}
.shortcut-content .bg #fr .drop-down:hover > .sjjd {
  display: block;
}
/*# sourceMappingURL=./details.css.map */