.shortcut-content .bg {
  display: flex;
  justify-content: space-between;
  height: 31px;
}
.shortcut-content .bg #fl,
.shortcut-content .bg #fr {
  display: flex;
  flex-flow: row wrap;
  line-height: 30px;
}
.shortcut-content .bg #fl div,
.shortcut-content .bg #fr div {
  padding: 0 4px;
}
.shortcut-content .bg #fl div a:hover,
.shortcut-content .bg #fr div a:hover {
  color: #f30213;
}
.shortcut-content .bg #fl .drop-down-bg,
.shortcut-content .bg #fr .drop-down-bg {
  position: relative;
  border: 1px solid transparent;
}
.shortcut-content .bg #fl .drop-down,
.shortcut-content .bg #fr .drop-down {
  position: relative;
}
.shortcut-content .bg #fl .drop-down:hover > .drop-down-bg,
.shortcut-content .bg #fr .drop-down:hover > .drop-down-bg {
  height: 30px;
  background-color: #fff;
  border: 1px solid #dddddd;
  z-index: 10;
  border-bottom: none;
}
.shortcut-content .bg #fl .drop-down:hover > .location,
.shortcut-content .bg #fr .drop-down:hover > .location {
  display: block;
}
.shortcut-content .bg #fl .drop,
.shortcut-content .bg #fr .drop {
  background-color: #fff;
  position: absolute;
  border: 1px solid #dddddd;
  display: none;
  left: 4px;
  z-index: 9;
  top: 29px;
}
.shortcut-content .bg #fl .drop-down:hover > .drop-down-bg {
  width: 60px;
}
.shortcut-content .bg #fl .location {
  width: 315px;
  height: 465px;
}
.shortcut-content .bg #fl .location #place {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 300px;
}
.shortcut-content .bg #fl .location #place li {
  padding: 2px 0;
  width: 60px;
}
.shortcut-content .bg #fl .location #place li a:hover:not(.active) {
  padding: 5px;
  background-color: #f4f4f4;
}
.shortcut-content .bg #fl .location #place li .active {
  padding: 5px;
  color: #fff;
  background-color: #f30213;
}
.shortcut-content .bg #fl .location .underline {
  width: 280px;
  margin-left: 15px;
  border-bottom: 1px solid #dddddd;
}
.shortcut-content .bg #fl .location .exclusive {
  margin-left: 20px;
  margin-top: 10px;
}
.shortcut-content .bg #fl .location .exclusive a:nth-child(3) {
  margin-left: 100px;
}
.shortcut-content .bg #fr .drop-down:hover > .myjd,
.shortcut-content .bg #fr .drop-down:hover > .qycg,
.shortcut-content .bg #fr .drop-down:hover > .khfw,
.shortcut-content .bg #fr .drop-down:hover > .wzdh,
.shortcut-content .bg #fr .drop-down:hover > .sjjd {
  display: block;
}
.shortcut-content .bg #fr .myjd {
  width: 285px;
  height: 145px;
}
.shortcut-content .bg #fr .qycg {
  width: 158px;
  height: 140px;
}
.shortcut-content .bg #fr .khfw {
  width: 158px;
  height: 140px;
}
.shortcut-content .bg #fr .wzdh {
  width: 158px;
  height: 140px;
}
.shortcut-content .bg #fr .sjjd {
  width: 158px;
  height: 140px;
}
.search-bar-content div {
  float: left;
}
.search-bar-content #logo {
  padding: 20px 0;
}
.search-bar-content #classification {
  margin: 35px;
  border: 1px solid #999;
  width: 75px;
  height: 23px;
  text-align: center;
  line-height: 23px;
}
.search-bar-content #classification a {
  color: #666;
  padding-right: 4px;
  font-size: 12px;
}
.search-bar-content #classification i {
  color: #999;
  transition: all 0.3s;
}
.search-bar-content #classification:hover i {
  transform: rotate(180deg);
}
.search-bar-content #search {
  padding-left: 80px;
  height: 36px;
  margin-top: 25px;
  font-size: 0;
}
.search-bar-content #search input {
  height: 35px;
  padding: 0 8px;
  border: none;
}
.search-bar-content #search input:first-child {
  height: 23px;
  width: 446px;
  padding: 4px;
  border: 2px solid #b61d1d;
  border-right: none;
}
.search-bar-content #search input:nth-child(2) {
  background-color: #b61d1d;
  vertical-align: bottom;
  color: #fff;
  cursor: pointer;
}
.search-bar-content #search input:nth-child(3) {
  background-color: #474e5c;
  vertical-align: bottom;
  color: #fff;
  cursor: pointer;
}
.search-bar-content #my-car {
  margin: 25px;
  margin-left: 65px;
  height: 34px;
  padding-left: 25px;
  padding-right: 10px;
  border: 1px solid #dfdfdf;
  line-height: 34px;
}
.search-bar-content #my-car a {
  padding-left: 5px;
  padding-right: 15px;
  color: #666;
}
.search-bar-content #my-car a:hover {
  color: #f30213;
}
.search-bar-content #my-car i {
  color: #999;
}
.search-bar-content #my-car i:nth-child(1) {
  color: #c81724;
}
#nav {
  width: 100%;
  height: 40px;
  background-color: #333;
  display: flex;
}
#nav .nav-content {
  display: flex;
}
#nav ul {
  display: flex;
}
#nav ul li:not(:first-child) {
  width: 75px;
}
#nav ul li a {
  line-height: 40px;
  margin-left: 30px;
  color: #fff;
  font-size: 15px;
  font-family: 微软雅黑;
}
#nav ul li a img {
  margin-left: 10px;
}
#nav ul li a:not(.all):hover {
  color: #ffe178;
}
#nav input {
  margin: auto 0;
  margin-left: 30px;
  padding: 0 0 0 10px;
  width: 120px;
  line-height: 24px;
  height: 24px;
  background-color: #ffffff;
  color: #c9c9c9;
  outline: none;
  border: solid 1px #e1e1e1;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}
#nav button {
  margin: auto 0;
  background-color: transparent;
  margin-left: -5px;
  padding: 0 10px;
  border: 0;
  height: 24px;
  width: 46px;
  cursor: pointer;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}
#content #nav-path {
  width: 1210px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
#content #nav-path a {
  color: #666;
  font-size: 12px;
  margin: auto 6px;
}
#content #nav-path a:hover:not(:last-child) {
  color: #f30213;
}
#content #nav-path .ellipsis {
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
#content .center {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#content .center #left #left-top {
  display: flex;
  position: relative;
}
#content .center #left #left-top #small-picture {
  width: 450px;
  height: 450px;
  border: 1px solid #eeeeee;
  position: relative;
}
#content .center #left #left-top #small-picture .icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 420px;
  left: 420px;
  background-image: url("../IMG/__sprite.png");
  background-position: 0 -24px;
}
#content .center #left #left-top #small-picture #mask {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 239, 167, 0.5);
}
#content .center #left #left-top #big-picture {
  width: 540px;
  height: 540px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  position: absolute;
  left: 450px;
  display: none;
  z-index: 100;
}
#content .center #left #left-top #big-picture img {
  position: absolute;
  left: 0;
  top: 0;
}
#content .center #left #left-bottom {
  margin: 20px 0;
  width: 452px;
  height: 58px;
  display: flex;
  position: relative;
}
#content .center #left #left-bottom .prev,
#content .center #left #left-bottom .next {
  position: absolute;
  margin: 13px auto;
  width: 22px;
  height: 32px;
  background-image: url(../IMG/__sprite.png);
  color: #f30213;
}
#content .center #left #left-bottom .prev {
  left: 0;
  background-position: 0 -54px;
}
#content .center #left #left-bottom .next {
  left: 428px;
  background-position: -78px 0px;
}
#content .center #left #left-bottom .piclist {
  width: 390px;
  height: 58px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#content .center #left #left-bottom .piclist .pic {
  display: flex;
  height: 58px;
  font-size: 0;
  position: absolute;
  left: 0;
  transition: left 0.5s;
}
#content .center #left #left-bottom .piclist .pic li {
  height: 54px;
  width: 54px;
  margin: 0 10px;
  border: 2px solid transparent;
}
#content .center #left #left-bottom .piclist .pic .clock {
  border: 2px solid #f30213;
}
#content .center #rightDetails {
  width: 738px;
  margin-left: 10px;
}
#content .center #rightDetails #title {
  font: 700 16px Arial, "microsoft yahei";
  color: #666;
  padding-top: 10px;
  line-height: 28px;
  margin-bottom: 5px;
}
#content .center #rightDetails #news {
  background-color: #f3f3f3;
}
#content .center #rightDetails #news #details {
  padding-bottom: 5px;
  padding-top: 10px;
}
#content .center #rightDetails #news #details #price {
  display: flex;
}
#content .center #rightDetails #news #details #price span {
  display: flex;
}
#content .center #rightDetails #news #details #price span p {
  color: #e4393c;
  font-family: "microsoft yahei";
  font-size: 16px;
  line-height: 18px;
}
#content .center #rightDetails #news #details #price span p:nth-child(1) {
  margin-left: 22px;
}
#content .center #rightDetails #news #details #price span p:nth-child(2) {
  font-size: 22px;
  margin-right: 10px;
}
#content .center #rightDetails #news #details #price #total {
  width: 69px;
  text-align: center;
  margin: auto 10px auto auto;
  border-left: #e6e6e6 1px solid;
}
#content .center #rightDetails #news #details #price #total .font-color {
  padding-left: 0;
}
#content .center #rightDetails #news #details #price #total .blue {
  font-size: 14px;
  margin-left: 10px;
}
#content .center #rightDetails #news #details #price #segmentation {
  height: 2px;
}
#content .center #rightDetails #news #details #price #activity {
  display: flex;
}
#content .center #rightDetails #news #details #price a:hover {
  color: #f30213;
}
#content .center #rightDetails #news #details #activity {
  display: flex;
  font-size: 12px;
  height: 60px;
}
#content .center #rightDetails #news #details #activity .activityTitle {
  padding: 2px 3px;
  border: 1px solid #df3033;
  margin-right: 5px;
  line-height: 16px;
  color: #df3033;
}
#content .center #rightDetails #news #details #activity div {
  margin-left: 10px;
  height: 30px;
}
#content .center #rightDetails #news #details #activity div #forPurchasing span:nth-child(2),
#content .center #rightDetails #news #details #activity div #gift span:nth-child(2) {
  color: #666666;
  font-size: 12px;
}
#content .center #rightDetails #news #details #activity div #forPurchasing a:hover,
#content .center #rightDetails #news #details #activity div #gift a:hover {
  color: #d21623;
}
#content .center #rightDetails #news #details #activity div #forPurchasing i,
#content .center #rightDetails #news #details #activity div #gift i {
  color: #999;
  font-style: normal;
}
#content .center #rightDetails #services {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}
#content .center #rightDetails #services .font {
  padding: 0 10px;
}
#content .center #rightDetails #services #recycle {
  display: flex;
}
#content .center #rightDetails #services #recycle a {
  margin-left: 22px;
}
#content .center #rightDetails #services #distribution {
  display: flex;
  flex-flow: column;
}
#content .center #rightDetails #services #distribution #address {
  display: flex;
}
#content .center #rightDetails #services #distribution #address p:nth-child(2) {
  margin-left: 22px;
  padding-left: 0;
}
#content .center #rightDetails #services #distribution #address div {
  padding: 0 10px;
}
#content .center #rightDetails #services #distribution #address div span:first-child,
#content .center #rightDetails #services #distribution #address div a {
  color: #646Fb0;
}
#content .center #rightDetails #services #distribution #address div a:hover {
  color: #e4393c;
}
#content .center #rightDetails #services #distribution #time {
  display: flex;
  flex-flow: column;
}
#content .center #rightDetails #services #distribution #time #way {
  display: flex;
  margin-left: 79px;
  height: 32px;
  align-items: center;
}
#content .center #rightDetails #services #distribution #time #way img {
  width: 86px;
  margin-right: 10px;
}
#content .center #rightDetails #services #distribution #time #way a {
  color: #646Fb0;
}
#content .center #rightDetails #services #distribution #time #way a:hover {
  color: #e4393c;
}
#content .center #rightDetails #services #distribution #time #delivery {
  margin-left: 70px;
  height: 32px;
}
#content .center #rightDetails #services #weigh {
  display: flex;
  height: 32px;
}
#content .center #rightDetails #services #weigh div {
  margin-left: 12px;
}
#content .center #rightDetails #choose .items a:not(.drop, .detail) {
  margin: 0 7px 4px 0;
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  background-color: #f7f7f7;
  padding: 1px 10px 1px 1px;
}
#content .center #rightDetails #choose .items a:not(.drop, .detail):hover,
#content .center #rightDetails #choose .items .current {
  border: 1px solid #e3393c;
}
#content .center #rightDetails #choose #model,
#content .center #rightDetails #choose #package,
#content .center #rightDetails #choose .service {
  display: flex;
  margin-top: 15px;
}
#content .center #rightDetails #choose #model .font-color,
#content .center #rightDetails #choose #package .font-color,
#content .center #rightDetails #choose .service .font-color {
  white-space: nowrap;
  line-height: 40px;
  margin-right: 20px;
}
#content .center #rightDetails #choose #model .options,
#content .center #rightDetails #choose #package .options,
#content .center #rightDetails #choose .service .options {
  display: flex;
  flex-flow: row wrap;
}
#content .center #rightDetails #choose #model .options .items a.click,
#content .center #rightDetails #choose #package .options .items a.click,
#content .center #rightDetails #choose .service .options .items a.click {
  border: 1px solid #e3393c;
}
#content .center #rightDetails #choose #model .options .items a,
#content .center #rightDetails #choose #package .options .items a,
#content .center #rightDetails #choose .service .options .items a {
  background-color: #fff;
}
#content .center #rightDetails #choose #package {
  margin-top: 4px;
}
#content .center #rightDetails #choose #package .options {
  align-items: center;
}
#content .center #rightDetails #choose #package .options .items a {
  padding: 0 13px;
  line-height: 34px;
}
#content .center #rightDetails #choose .service {
  margin-top: 4px;
}
#content .center #rightDetails #choose .service .items .yb-car:hover .yb-car-drop {
  display: block;
}
#content .center #rightDetails #choose .service .items .yb-car:hover .yb-car-content a {
  border-bottom: 1px solid #fff;
}
#content .center #rightDetails #choose .service .items .yb-car:hover .yb-car-content a i {
  transform: rotate(180deg);
}
#content .center #rightDetails #choose .service .items .yb-car {
  position: relative;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-content {
  position: relative;
  z-index: 20;
  border: 1px solid transparent;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-content a {
  line-height: 30px;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-content a img {
  width: 16px;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-content a i {
  font-size: 17px;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-drop {
  display: none;
  top: 34px;
  left: 1px;
  position: absolute;
  border: 1px solid #e1e1e1;
  padding-left: 4px;
  width: 250px;
  z-index: 21;
  background-color: #fff;
  line-height: 30px;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-drop div:hover > a.detail {
  display: block;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-drop div {
  display: flex;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-drop div .drop:hover {
  color: #e3393c;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-drop div .drop:hover .detail {
  display: block;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-drop div a.detail {
  display: none;
  margin-left: 20px;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-drop div a.detail i {
  font-style: normal;
  color: #646Fb0;
}
#content .center #rightDetails #choose .service .items .yb-car .yb-car-drop div .detail:hover i {
  color: #f30213;
}
/*# sourceMappingURL=./details.css.map */