.shortcut-content {

    // 背景
    .bg {
        display: flex;
        justify-content: space-between;
        height: 31px;

        // 通用
        #fl,
        #fr {
            display: flex;
            flex-flow: row wrap;
            line-height: 30px;


            div {
                padding: 0 4px;

                a:hover {
                    color: #f30213;
                }
            }

            // 预先添加border防止点击的时候会动
            .drop-down-bg {
                position: relative;
                border: 1px solid transparent;
            }

            .drop-down {
                position: relative;
            }

            // 下拉的样式
            .drop-down:hover>.drop-down-bg {
                height: 30px;
                background-color: #fff;
                border: 1px solid rgb(221, 221, 221);
                z-index: 10;
                border-bottom: none;
            }

            // 鼠标在drop-down上显示隐藏的下拉框
            .drop-down:hover>.location {
                display: block;
            }

            // 下拉的通用
            .drop {
                background-color: #fff;
                position: absolute;
                border: 1px solid rgb(221, 221, 221);
                display: none;
                left: 4px;
                z-index: 9;
                top: 29px;
            }
        }

        #fl .drop-down:hover>.drop-down-bg {
            width: 60px;
        }

        //下拉框内样式 
        #fl .location {
            width: 315px;
            height: 465px;

            #place {
                display: flex;
                flex-flow: row wrap;
                text-align: center;
                width: 300px;

                li {
                    padding: 2px 0;
                    width: 60px;

                    a:hover:not(.active) {
                        padding: 5px;
                        background-color: rgb(244, 244, 244);
                    }

                    .active {
                        padding: 5px;
                        color: #fff;
                        background-color: #f30213;
                    }
                }
            }

            // 下划线
            .underline {
                width: 280px;
                margin-left: 15px;
                border-bottom: 1px solid rgb(221, 221, 221);
            }

            .exclusive {
                margin-left: 20px;
                margin-top: 10px;

                a:nth-child(3) {
                    margin-left: 100px;
                }
            }

        }

        // 右边不同的
        #fr {

            .drop-down:hover>.myjd,
            .drop-down:hover>.qycg,
            .drop-down:hover>.khfw,
            .drop-down:hover>.wzdh,
            .drop-down:hover>.sjjd {
                display: block;
            }

            .myjd {
                width: 285px;
                height: 145px;
            }

            .qycg {
                width: 158px;
                height: 140px;
            }

            .khfw {
                width: 158px;
                height: 140px;
            }

            .wzdh {
                width: 158px;
                height: 140px;
            }


            .sjjd {
                width: 158px;
                height: 140px;
            }
        }

    }

}

.search-bar-content {

    div {
        float: left;
    }

    #logo {
        padding: 20px 0;
    }

    #classification {
        margin: 35px;
        border: 1px solid #999;
        width: 75px;
        height: 23px;
        text-align: center;
        line-height: 23px;

        a {
            color: #666;
            padding-right: 4px;
            font-size: 12px;
        }

        i {
            color: #999;
            transition: all 0.3s;
        }

    }

    #classification:hover i {
        transform: rotate(180deg);
    }

    #search {
        padding-left: 80px;
        height: 36px;
        margin-top: 25px;
        // 去掉间隙
        font-size: 0;

        input {
            height: 35px;
            padding: 0 8px;
            border: none;

            &:first-child {
                height: 23px;
                width: 446px;
                padding: 4px;
                border: 2px solid rgb(182, 29, 29);
                border-right: none;
            }

            &:nth-child(2) {
                background-color: rgb(182, 29, 29);
                vertical-align: bottom;
                color: #fff;
                // 小手
                cursor: pointer;
            }

            &:nth-child(3) {
                background-color: rgb(71, 78, 92);
                vertical-align: bottom;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    #my-car {
        margin: 25px;
        margin-left: 65px;
        height: 34px;
        padding-left: 25px;
        padding-right: 10px;
        border: 1px solid rgb(223, 223, 223);
        line-height: 34px;

        a {
            padding-left: 5px;
            padding-right: 15px;
            color: #666;
        }

        a:hover {
            color: #f30213;
        }

        i {
            color: #999;

            &:nth-child(1) {
                color: rgb(200, 23, 36);
            }
        }
    }
}

#nav {
    width: 100%;
    height: 40px;
    background-color: #333;
    display: flex;

    .nav-content {
        display: flex;
    }

    ul {
        display: flex;

        li {
            &:not(:first-child) {
                width: 75px;
            }

            a {
                line-height: 40px;
                margin-left: 30px;
                color: #fff;
                font-size: 15px;
                font-family: 微软雅黑;

                img {
                    margin-left: 10px;
                }

            }

            a:not(.all):hover {
                color: rgb(255, 225, 120);
            }


        }
    }

    input {
        margin: auto 0;
        margin-left: 30px;
        padding: 0 0 0 10px;
        width: 120px;
        line-height: 24px;
        height: 24px;
        background-color: #ffffff;
        color: #c9c9c9;
        outline: none;
        border: solid 1px #e1e1e1;
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
    }

    button {
        margin: auto 0;
        background-color: transparent;
        margin-left: -5px;
        padding: 0 10px;
        border: 0;
        height: 24px;
        width: 46px;
        cursor: pointer;
        border-top-right-radius: 11px;
        border-bottom-right-radius: 11px;
    }
}

#content {

    #nav-path {
        width: 1210px;
        margin: 0 auto;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;

        a {
            color: #666;
            font-size: 12px;
            margin: auto 6px;
        }

        a:hover:not(:last-child) {
            color: #f30213;
        }

        .ellipsis {
            width: 120px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
        }


    }

    // 中间
    .center {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        // 放大镜
        #left {

            #left-top {
                display: flex;
                position: relative;

                // 小图
                #small-picture {
                    width: 450px;
                    height: 450px;
                    border: 1px solid rgb(238, 238, 238);
                    position: relative;

                    .icon {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        top: 420px;
                        left: 420px;
                        background-image: url("../IMG/__sprite.png");
                        background-position: 0 -24px;

                    }

                    // 蒙版
                    #mask {
                        width: 300px;
                        height: 300px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(255, 239, 167, 0.5);

                    }
                }

                // 大图
                #big-picture {
                    width: 540px;
                    height: 540px;
                    border: 1px solid rgb(238, 238, 238);
                    overflow: hidden;
                    position: absolute;
                    left: 450px;
                    display: none;
                    z-index: 100;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }


            }

            // 下边
            #left-bottom {
                margin: 20px 0;
                width: 452px;
                height: 58px;
                display: flex;
                position: relative;

                .prev,
                .next {
                    position: absolute;
                    margin: 13px auto;
                    width: 22px;
                    height: 32px;
                    background-image: url(../IMG/__sprite.png);
                    color: #f30213;
                }

                .prev {
                    left: 0;
                    background-position: 0 -54px;

                }

                .next {
                    left: 428px;
                    background-position: -78px 0px;
                }

                .piclist {

                    width: 390px;
                    height: 58px;
                    margin: 0 auto;
                    position: relative;
                    overflow: hidden;

                    .pic {
                        display: flex;
                        height: 58px;
                        font-size: 0;
                        position: absolute;
                        left: 0;
                        transition: left 0.5s;

                        li {
                            height: 54px;
                            width: 54px;
                            margin: 0 10px;
                            border: 2px solid transparent;
                        }

                        .clock {
                            border: 2px solid #f30213;
                        }
                    }
                }

            }

        }

        // 商品详情
        #rightDetails {
            width: 738px;
            margin-left: 10px;

            #title {
                font: 700 16px Arial, "microsoft yahei";
                color: #666;
                padding-top: 10px;
                line-height: 28px;
                margin-bottom: 5px;
            }

            #news {
                background-color: rgb(243, 243, 243);

                #details {
                    padding-bottom: 5px;
                    padding-top: 10px;

                    #price {
                        display: flex;

                        span {
                            display: flex;

                            p {
                                color: #e4393c;
                                font-family: "microsoft yahei";
                                font-size: 16px;
                                line-height: 18px;

                                &:nth-child(1) {
                                    margin-left: 22px;
                                }

                                &:nth-child(2) {
                                    font-size: 22px;
                                    margin-right: 10px;
                                }

                            }
                        }

                        #total {
                            width: 69px;
                            text-align: center;
                            margin: auto 10px auto auto;
                            border-left: rgb(230, 230, 230) 1px solid;

                            .font-color {
                                padding-left: 0;
                            }

                            .blue {
                                font-size: 14px;
                                margin-left: 10px;
                            }
                        }

                        #segmentation {
                            height: 2px;
                        }

                        #activity {
                            display: flex;
                        }

                        a:hover {
                            color: #f30213;
                        }
                    }

                    #activity {
                        display: flex;
                        font-size: 12px;
                        height: 60px;

                        .activityTitle {
                            padding: 2px 3px;
                            border: 1px solid rgb(223, 48, 51);
                            margin-right: 5px;
                            line-height: 16px;
                            color: rgb(223, 48, 51);
                        }

                        div {
                            margin-left: 10px;
                            height: 30px;

                            #forPurchasing,
                            #gift {
                                span:nth-child(2) {
                                    color: rgb(102, 102, 102);
                                    font-size: 12px;
                                }

                                a:hover {
                                    color: rgb(210, 22, 35);
                                }

                                i {
                                    color: #999;
                                    font-style: normal;
                                }
                            }
                        }

                    }

                }
            }

            #services {
                margin-top: 10px;
                display: flex;
                flex-flow: column;



                .font {
                    padding: 0 10px;
                }

                #recycle {
                    display: flex;

                    a {
                        margin-left: 22px;
                    }
                }

                #distribution {
                    display: flex;
                    flex-flow: column;

                    #address {
                        display: flex;

                        p:nth-child(2) {
                            margin-left: 22px;
                            padding-left: 0;

                        }

                        div {
                            padding: 0 10px;

                            span:first-child,
                            a {
                                color: #646Fb0;
                            }

                            a:hover {
                                color: rgb(228, 57, 60);
                            }
                        }

                    }

                    #time {
                        display: flex;
                        flex-flow: column;

                        #way {
                            display: flex;
                            margin-left: 79px;
                            height: 32px;
                            align-items: center;

                            img {
                                width: 86px;
                                margin-right: 10px;
                            }

                            a {
                                color: #646Fb0;
                            }

                            a:hover {
                                color: rgb(228, 57, 60);
                            }

                        }

                        #delivery {
                            margin-left: 70px;
                            height: 32px;
                        }
                    }

                }

                #weigh {
                    display: flex;
                    height: 32px;


                    div {
                        margin-left: 12px;
                    }
                }
            }

            #choose {

                .items {
                    a:not(.drop, .detail) {
                        margin: 0 7px 4px 0;
                        display: flex;
                        align-items: center;
                        border: 1px solid rgb(204, 204, 204);
                        background-color: rgb(247, 247, 247);
                        padding: 1px 10px 1px 1px;
                    }

                    a:not(.drop, .detail):hover,
                    .current {
                        border: 1px solid rgb(227, 57, 60);
                    }

                }

                #model,
                #package,
                .service {
                    display: flex;
                    margin-top: 15px;

                    .font-color {
                        white-space: nowrap;
                        line-height: 40px;
                        margin-right: 20px;
                    }

                    .options {
                        display: flex;
                        flex-flow: row wrap;
                    }

                }

                #package {
                    margin-top: 4px;

                    .options {
                        align-items: center;

                        .items {
                            a {
                                background-color: #fff;
                                padding: 0 13px;
                                line-height: 34px;
                            }
                        }
                    }
                }

                .service {
                    margin-top: 4px;

                    .items {
                        .yb-car:hover .yb-car-drop {
                            display: block;
                        }

                        .yb-car:hover .yb-car-content a {
                            border-bottom: 1px solid #fff;
                        }

                        .yb-car:hover .yb-car-content a i {
                            transform: rotate(180deg);
                        }

                        .yb-car {
                            position: relative;

                            .yb-car-content {
                                position: relative;
                                z-index: 20;
                                border: 1px solid transparent;

                                a {
                                    line-height: 30px;
                                    background-color: #fff;

                                    img {
                                        width: 16px;
                                    }

                                    i {
                                        font-size: 17px;
                                    }
                                }

                            }

                            .yb-car-drop {
                                display: none;
                                top: 34px;
                                left: 1px;
                                position: absolute;
                                border: 1px solid #e1e1e1;
                                padding-left: 4px;
                                width: 250px;
                                z-index: 21;
                                background-color: #fff;
                                line-height: 30px;

                                div:hover>a.detail{
                                    display: block;
                                }
                                div {

                                    display: flex;
                                    

                                    .drop:hover {
                                        color: rgb(227, 57, 60);

                                        & .detail {
                                            display: block;
                                        }
                                    }


                                    a.detail {
                                        display: none;
                                        margin-left: 20px;

                                        i {
                                            font-style: normal;
                                            color: #646Fb0;
                                        }

                                    }

                                    .detail:hover i {
                                        color: #f30213;
                                    }

                                }
                            }
                        }
                    }

                }

            }
        }
    }
}